<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Weather Query</title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./weather.css"/>
    <script src="./weatherFC.js"></script>
  </head>
  <body ng-app="weatherQuery" ng-controller="weatherCtrl">
  <div class="bs-example margin_top">
  <form class="form-inline " name="form">
    <div class="form-group ">
      <label for="1">Date</label>
      <input class="form-control" id="1" placeholder="yyyy-mm-dd" ng-model="queryDate" name="date">
    </div>
    <div class="form-group">
      <label for="2">City:</label>
      <input class="form-control" id="2" placeholder="please input city name" ng-model="queryCity">
    </div>
    <button class="btn btn-default"  ng-click="queryResult(queryDate,queryCity)" ng-disabled="!form.date.$dirty || form.date.$error.isDate">search</button>
  </form>
  </div>
  <div class="margin_and_font">
     <p>{{queryDate+" "+ queryCity +" weekly weather forecast:"}}</p>
  </div>
  <div id="weather-info">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Date</th>
        <th>City</th>
        <th>max</th>
        <th>min</th>
        <th>weather</th>
      </tr>
      </thead>
      <tr ng-repeat="data in weatherResult">
        <td>{{data.date | date:'yyyy-MM-dd'}}</td>
        <td>{{data.city}}</td>
        <td>{{data.max}}</td>
        <td>{{data.min}}</td>
        <td>{{data.weather}}</td>
        
      </tr>
    </table>
  </div>

  <!--<input type="text" class="input-medium" id="exampleInputName2" placeholder="yyyy-mm-dd" ng-model="queryDate">-->

  </body>
</html>
